.contact {
  width: 100vw;
  min-height: 100vh;
  padding-top: 20vh;
  background-color: wheat;
  background-image: url("../assets/flower.png");
  background-repeat: repeat;
  background-size: 200px;
  cursor: auto;
}

.goback {
  display: block;
  position: fixed;
  left: 0;
  top: 45%;
  cursor: pointer;
  img {
    width: 50px;
  }
}

.gohome {
  display: block;
  position: fixed;
  right: 0;
  top: 45%;
  cursor: pointer;
  img {
    width: 50px;
    transform: rotateY(180deg);
  }
}
