.ref-container {
  font-family: "Aboreto", cursive;
  width: 105vw;
  color: saddlebrown;
  background-color: rgb(203, 177, 128);
  display: flex;
  flex-direction: column;
  padding: 2vh 3vw;
}

.ref-main {
  display: flex;
  justify-content: space-between;
}
.ref {
  width: 100vw;
  display: flex;
  font-size: 0.6rem;
  color: black;
  a {
    margin-right: 10px;
  }
}
.footer-icons {
  padding-right: 8vw;
}
.footer-icons a img {
  width: 30px;
}

.ref-a {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

@media (max-width: 680px) {
  .footer-icons {
    padding-right: 3vw;
  }
  .footer-icons a img {
    width: 20px;
  }
}
