.form,
.project-container {
  font-family: "Noto Sans TC", sans-serif;
  background-color: wheat;
  width: 105vw;
  min-height: 100vh;
  padding: 20vh 5vw 30vh 0vw;
}
ul {
  // list-style-position: inside;
  color: rgb(103, 70, 23);
}

li {
  cursor: pointer;
  font-size: 0.9rem;
  border-bottom: 1px solid rgb(88, 88, 88);
  &:hover {
    background-color: rgb(195, 183, 165);
    opacity: 0.8;
  }
}

.form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/like.png");
  background-repeat: no-repeat;
  background-position: 10px 55vh;
  background-size: 230px;
  background-attachment: fixed;
}

.table {
  width: 50% !important;
  background: linear-gradient(
    to right bottom,
    rgba(208, 185, 109, 0.7),
    rgba(208, 185, 109, 0.2)
  );
  backdrop-filter: blur(2rem);
  display: flex;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
  z-index: 6;
}

.items {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: rgb(242, 206, 206);
  padding: 1rem;
  border-radius: 20px;
  text-align: left;
  cursor: context-menu;
}

.items th {
  opacity: 1;
  transition: 0.5s ease;
  padding-bottom: 5px;
}

.items td {
  opacity: 1;
  font-size: 1rem;
  color: rgb(48, 47, 45);
}
.items th:hover {
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .table {
    width: 60% !important;
  }
  .form {
    background-size: 200px;
  }
}

@media (max-width: 860px) {
  .form {
    background-position: 0px 50vh;
    background-size: 120px;
    background-repeat: repeat-x;
  }
  .table {
    width: 70% !important;
  }
}

@media (max-width: 680px) {
  .table {
    width: 90% !important;
  }
  .form {
    background-image: url("../assets/flower.png");
    background-repeat: repeat;
    background-size: 200px;
  }
}
