.form,
.project-container {
  font-family: "Noto Sans TC", sans-serif;
  background-color: wheat;
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 20vh;
}
ul {
  list-style-type: circle;
}
.form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  .form-img {
    width: 50%;
    display: block;
    position: fixed;
    top: 60%;
    left: -5%;
    z-index: 5;
  }
}

.table {
  width: 60% !important;
  background: linear-gradient(
    to right bottom,
    rgba(208, 185, 109, 0.7),
    rgba(208, 185, 109, 0.2)
  );
  display: flex;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
  z-index: 6;
}

.items {
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 206, 206);
  padding: 1rem;
  border-radius: 20px;
  text-align: left;
}

.table th {
  opacity: 1;
  cursor: pointer;
  transition: 0.5s ease;
  padding-bottom: 5px;
}

.table td {
  opacity: 1;
  cursor: pointer;
}
.table th:hover {
  opacity: 0.5;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}
