.project-container {
  padding: 2vh 5vw;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  padding-top: 15vh;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.container-fluid {
  padding: 2vh 5vw !important;

  /* border: 2px solid red; */
}

.btn a {
  text-decoration: none;
  color: inherit !important;
}

.hover-container {
  display: none;
  color: #7a5d07;
  font-family: "Noto Sans TC", sans-serif;
}
.card:hover .hover-container {
  display: flex;
  flex-direction: column;
}

.btn {
  height: 3rem;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.badge {
  margin-left: 2px;
}

.card-title {
  text-align: center;
  color: #7a5d07;
  text-transform: capitalize;
}

.card-body {
  background-color: #fff1d7 !important;
  color: #7a5d07;
}

.fa-solid.fa-virus-covid {
  font-size: var(--bs-body-font-size);
  color: #5b4505;
}
.pa {
  color: #8a6a0a !important;
  border-bottom: 2px solid burlywood;
  background-color: #fff1d7;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pa:hover {
  background-color: #c2b7a2;
  opacity: 0.8;
  border: none;
  border-radius: 20px 30px 50% 90%;
}
